# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
/build/
/dist/
/eggs/
/*-eggs/
.eggs/
/sdist/
/wheels/
/*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml
*.cover
datasets/rareplanes/train/*
datasets/rareplanes/val/*
datasets/rareplanes/test/*
datasets/coco/*
keras_retinanet/utils/compute_overlap.c
keras_retinanet/utils/compute_overlap.cpython-37m-x86_64-linux-gnu.so
.vscode/settings.json
